<!DOCTYPE html>
<html ng-app="chatApp">
<head>
	<meta charset="UTF-8">
	<link href="styles.css" rel="stylesheet" type="text/css" />
	<link href="node_modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<title>Socket.IO chat</title>
</head>
<body ng-controller="chatCtrl">
	
	<div class="container">
		<div id="name-prompt" ng-class="{hidden: hidePrompt}">
			<div id="prompt-fields">
				<h1>Please Enter Your Name:</h1>
				<form ng-submit ="appendUser()">
					<input id="name-input" ng-model="username" autocomplete="off" />
				</form>
			</div>
		</div>

		<div id="msg-box">
			<h2 id="welcome">Welcome -  {{users.length}} Active Participant(s)</h2>
			<ul id='messages'><li ng-repeat="msg in messages track by $index">{{msg}}</li></ul>
		</div>

		<div id="controls">
			<form ng-submit="addMsg()">
				<input id='msg-input' ng-model="msg" autocomplete='off' />
			</form>
		</div>

	</div>

	<script src="node_modules/angular/angular.min.js"></script>
	<script src='/socket.io/socket.io.js'></script>
	<script src="app.js"></script>

</body>
</html>